$color: #eaeaea;
$brdrcolor: #41f6d7;
$sogl: #ff3e79;
$bgColor: #f8f8f8;
$bgCol: #ffffff;

.feedback__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  transition: 2ms linear;
  position: absolute;
  right: -440px;
  z-index: 0;
}

.feedback__container.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 3;
  background-color: $bgColor;
  position: absolute;
  right: 0;
  transition: 0.5s ease;
}

.feedback__container-header img {
  margin: 16px;
}

.feedback__container-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedback__container-header h2 {
  border: 4px solid transparent;
  border-left: 4px solid $brdrcolor;
  padding-left: 12px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-family: 'TT Lakes Bold';
}

.feedback__container-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.feedback__container-content input {
  width: 288px;
  height: 48px;
  margin-bottom: 16px;
  border: 1px solid $color;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #b5b6bc;
  outline: none;
  padding: 12px 16px;
}

.feedback__container-content input::-webkit-input-placeholder {
  color: #b5b6bc;
}

.feedback__container-content textarea {
  border: 1px solid $color;
  border-radius: 8px;
  width: 288px;
  height: 118px;
  padding: 12px 16px 60px 16px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #b5b6bc;
}
.feedback__container-content textarea::-webkit-input-placeholder {
  color: #b5b6bc;
}

.feedback__container-footer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-size: 14px;
  line-height: 16px;
}

.feedback__container-footer p > a {
  text-decoration: none;
  color: $sogl;
}

.input {
  display: flex;
  align-self: flex-end;
  margin-right: 16px;
  margin-top: 24px;
}

@media (min-width: 760px) {
  .feedback__container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    transition: 0.5s ease;
    position: absolute;
    right: -440px;
    z-index: 0;
  }

  .feedback__container.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 3;
    background-color: $bgColor;
    position: fixed;
    right: 0;
    transition: 0.5s ease;
    box-shadow: 16px 0 52px #0e185033;
  }
}

@media (min-width: 1400px) {
  .feedback__container {
    display: flex;
    flex-direction: column;
    width: 440px;
    background-color: $bgColor;
    position: absolute;
    right: -530px;
    transition: 0.5s ease;
    z-index: 3;
  }

  .feedback__container.open {
    display: flex;
    flex-direction: column;
    width: 440px;
    z-index: 3;
    background-color: $bgColor;
    position: fixed;
    right: 0;
    transition: 0.5s ease;
  }

  .feedback__container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -72px;
  }

  .feedback__container-header h2 {
    border: 4px solid transparent;
    border-left: 4px solid $brdrcolor;
    padding-left: 12px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-family: 'TT Lakes Bold';
  }

  .feedback__container-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .feedback__container-content input {
    width: 376px;
    height: 48px;
    margin-bottom: 16px;
    border: 1px solid $color;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #b5b6bc;
    outline: none;
    padding: 12px 16px;
  }

  .feedback__container-content input::-webkit-input-placeholder {
    color: #b5b6bc;
  }

  .feedback__container-content textarea {
    border: 1px solid $color;
    border-radius: 8px;
    width: 376px;
    height: 118px;
    padding: 12px 16px 60px 16px;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #b5b6bc;
  }
  .feedback__container-content textarea::-webkit-input-placeholder {
    color: #b5b6bc;
  }

  .feedback__container-footer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 14px;
    line-height: 16px;
  }

  .feedback__container-footer p > a {
    text-decoration: none;
    color: $sogl;
  }

  .input {
    display: flex;
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 24px;
  }
}
