@import '../scss/style_list.scss';

@import '../scss/menu_style.scss';

@import '../scss/feedback.scss';

@import '../scss/call.scss';

@font-face {
  font-family: 'TT Lakes Regular';
  font-style: normal;
  src: url('../fonts/TTLakes-Regular.eot') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.ttf') format('ttf'),
    url('../fonts/TTLakes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes Bold';
  font-style: normal;
  src: url('../fonts/TTLakes-Bold.eot') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.ttf') format('ttf'),
    url('../fonts/TTLakes-Bold.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
