$bgColor: #f8f8f8;
$bgCol: #ffffff;
$text: #1b1c21;
$containerTextColor: #7e7e82;
$borderColor: #eaeaea;
$paginationBulletActive: #b5b6bc;
$paginationBullet: #dddddd;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TT Lakes Regular';
  background-color: $bgColor;
  color: $text;
  min-width: 320px;
  // overflow-x: hidden;
}

.body__container {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.wrapper.inactive {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 88px;
  margin-bottom: 24px;
}

.header__left-side > img {
  display: none;
}

.header__right-side {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
}
.header__left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 55%;
}
.header__hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.main__header {
  display: flex;
  margin-bottom: 24px;
}

.main__header h1 {
  margin-left: 12px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 800;
  font-family: 'TT Lakes Bold';
}

.main__header-text {
  display: flex;
  align-items: center;
}

.main__header-images {
  display: none;
}

.main__services {
  display: flex;
  overflow-x: scroll;
}

.main__services::-webkit-scrollbar {
  width: 0;
}

.main__services p {
  display: flex;
  flex-shrink: 0;
  height: 40px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $containerTextColor;
}

.main__services p:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: $bgCol;
}

.main__read-more {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.main__read-more__text {
  padding: 8px 16px;
}

.read-more__arrow {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.read-more__arrow p {
  padding-left: 16px;
}

.hiddens {
  display: none;
}

.hiddens.active {
  display: inherit;
}

.hidden {
  display: none;
}

.hidden._active {
  display: initial;
}

.hiddene {
  display: none;
}

.hiddene.__active {
  display: inherit;
}

.arrows.active {
  transform: rotate(180deg);
}

.read-more__arrow p {
  font-weight: 600;
}

.main__repair {
  padding: 20px 16px;
}

.main__repair h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $containerTextColor;
  font-weight: 200;
}

.repair__container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.repair__container__768 {
  display: none;
}

.repair__container-wrapper {
  display: flex;
  padding-top: 16px;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 240px;
  height: 72px;
  padding: 16px;
  border: 1px solid $borderColor;
  background-color: $bgCol;
  border-radius: 6px;
  box-sizing: border-box;
}

.hp {
  height: 40px;
}

.swiper-pagination__repair {
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: $paginationBullet !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: $paginationBulletActive !important;
}

.main__technical {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
}

.main__technical h3 {
  color: $containerTextColor;
  min-width: 320px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

.technical__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.technical__container__768 {
  display: none;
}

.techniacal__container-wrapper {
  display: flex;
  padding: 16px 0;
}

.technical__info {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 240px;
  height: 160px;
  padding: 16px;
  border: 1px solid $borderColor;
  background-color: $bgCol;
}

.technical__info p {
  color: $text;
  font-weight: 600;
  margin: 0;
}

.technical__info a {
  display: flex;
  align-self: flex-end;
  margin-right: 16px;
}
.swiper-pagination__technical {
  text-align: center;
}

.main__price {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.main__price h3 {
  margin-left: 16px;
  color: $containerTextColor;
  min-width: 320px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 200;
}

.price__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.price__container__768 {
  display: none;
}

.price__container-wrapper {
  display: flex;
  padding: 16px;
}

.price__items {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 200px;
  padding-left: 16px;
  border: 1px solid $borderColor;
  background-color: $bgCol;
  border-radius: 6px;
  flex-shrink: 0;
}

.price__items p {
  color: $containerTextColor;
  margin-bottom: 4px;
}

.price__items span {
  color: $text;
}

.swiper-pagination__price {
  text-align: center;
}

.uslugi {
  display: flex;
  flex-direction: column;
}

.price {
  margin: 16px 0;
}

.term {
  display: flex;
  justify-content: space-between;
}

.term__text {
  display: flex;
  flex-direction: column;
}

.term img {
  margin-right: 16px;
}

.nds {
  padding: 8px 16px;
}

.commercial {
  margin-left: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 57px;
  min-width: 192px;
  height: 54px;
}

.footer {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $containerTextColor;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  opacity: 72%;
}

.footer p:first-child {
  padding: 0 51px;
}

.footer p {
  margin-bottom: 16px;
}

@media (min-width: 760px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Lakes Regular';
    background-color: $bgColor;
    color: $text;
    min-width: 768px;
    height: 1769px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .wrapper.inactive {
    display: flex;
    flex-direction: column;
    opacity: 0.1;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 88px;
    margin-bottom: 24px;
  }

  .header__left-side > img {
    display: inline-flex;
    margin: 0 16px;
  }

  .header__left-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header__right-side {
    display: flex;
    justify-content: flex-end;
  }

  .header__right-side img {
    margin-left: 16px;
  }

  .header__hidden {
    display: flex;
  }

  .main {
    display: flex;
    flex-direction: column;
    min-width: 768px;
  }

  .main__header {
    display: flex;
    margin-bottom: 24px;
  }

  .main__header h1 {
    margin-left: 12px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: 800;
    font-family: 'TT Lakes Bold';
  }

  .main__services {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  .main__services::-webkit-scrollbar {
    width: 0;
  }

  .main__services p {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $containerTextColor;
  }

  .main__services p:hover {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: $bgCol;
  }

  .main__read-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main__read-more p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
    position: relative;
    z-index: -1;
  }

  .hiddens {
    display: inherit;
  }

  .hidden {
    display: none;
  }

  .hidden._active {
    display: initial;
  }

  .hiddene {
    display: none;
  }

  .hiddene.__active {
    display: inherit;
  }

  .arrows.active {
    transform: rotate(180deg);
  }

  .read-more__arrow {
    display: flex;
    align-items: baseline;
  }

  .wallaper {
    width: 360px;
    height: 208px;
  }

  .main__repair h3 {
    margin: 16px;
  }

  .main__repair h3 {
    min-width: 320px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $containerTextColor;
    font-weight: 200;
  }

  .repair__container {
    display: none;
  }

  .repair__container__768 {
    display: flex;
    flex-direction: column;
  }

  .repair__container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .brands__768 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 224px;
    height: 72px;
    padding: 16px;
    border: 1px solid $borderColor;
    background-color: $bgCol;
    border-radius: 6px;
    margin-bottom: 16px;
  }

  .brands__768_hidden {
    display: none;
  }

  .brands__768_hidden.active {
    display: flex;
  }

  .show-more.active {
    transform: rotate(180deg);
    transition: 0.1s;
  }

  .repair__container__show-more {
    display: flex;
    padding: 8px 16px;
  }

  .repair__container__show-more p {
    padding-left: 16px;
    font-weight: 600;
  }

  .main__technical {
    display: flex;
    flex-direction: column;
  }

  .main__technical h3 {
    margin-left: 16px;
    color: $containerTextColor;
    min-width: 768px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
  }

  .technical__container {
    display: none;
  }

  .technical__container__768 {
    display: flex;
    flex-direction: column;
  }

  .techniacal__container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
  }

  .techniacal__container-wrapper .technical__info:last-child {
    border: 1px solid transparent;
    background-color: $bgColor;
  }

  .technical__info__768 {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 224px;
    height: 160px;
    margin-top: 8px;
    padding: 16px;
    border: 1px solid $borderColor;
    background-color: $bgCol;
  }

  .technical__info__768:last-child {
    display: none;
  }

  .technical__info__768_hidden {
    display: none;
  }

  .technical__info__768_hidden.active {
    display: flex;
  }

  .technical__info__768_hidden.active:last-child {
    opacity: 0;
  }

  .technical__info__768 p {
    color: $text;
  }

  .technical__info__768 a {
    display: flex;
    align-self: flex-end;
    margin-right: 16px;
  }

  .show.active {
    transform: rotate(180deg);
    transition: 0.1s;
  }

  .technical__container__show-more {
    display: flex;
    padding-left: 16px;
  }

  .technical__container__show-more p {
    padding-left: 16px;
    font-weight: 600;
  }

  .main__price {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .main__price h3 {
    margin-left: 16px;
    color: $containerTextColor;
    min-width: 768px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 200;
  }

  .price__container {
    display: none;
  }

  .price__container__768 {
    display: grid;
    min-width: 768px;
  }

  .price__container-wrapper {
    display: grid;
    padding: 16px;
  }

  .price__items {
    display: inline-grid;
    grid-template-columns: 0.75fr 130px 120px 50px;
    background-color: $bgCol;
    min-width: 720px;
    height: 64px;
    align-items: center;
    color: $text;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
  }

  .price__items p {
    color: $text;
  }

  .price__items:first-child {
    height: 40px;
    background-color: $bgColor;
    align-items: center;
    border: none;
  }

  .price__items:first-child p {
    color: $containerTextColor;
  }

  .commercial {
    margin-left: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 57px;
    margin-top: 16px;
  }

  .footer {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // text-align: center;
    color: $containerTextColor;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    opacity: 72%;
  }

  .footer > p:first-child {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 32px;
  }

  .footer > p:last-child {
    text-align: right;
    padding-left: 16px;
    width: 220px;
    height: 48px;
  }

  .footer > p:nth-child(2) {
    margin: 0 40px 0 35px;
  }
}

@media (min-width: 1400px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Lakes Regular';
    background-color: $bgColor;
    color: $text;
    min-width: 1440px;
    overflow-x: hidden;
  }

  .body__container {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }

  .wrapper {
    min-width: 1120px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-left: 22%;
    padding-right: 32px;
  }

  .header {
    display: none;
  }

  .header__hidden {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    min-width: 1140px;
  }

  .main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0 8px 8px;
    min-width: 1120px;
  }

  .main__header-text {
    display: flex;
    align-items: center;
  }

  .main__header-images {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  .main__header-images span {
    margin: 0 8px 0 32px;
  }

  .main__header h1 {
    margin-left: 12px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: 800;
    font-family: 'TT Lakes Bold';
  }

  .main__services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 1120px;
    margin-bottom: 24px;
  }

  .main__services::-webkit-scrollbar {
    width: 0;
  }

  .main__services p {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $containerTextColor;
  }

  .main__services p:hover {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: $bgCol;
  }

  .main__read-more {
    display: flex;
    justify-content: space-between;
    min-width: 1120px;
  }

  .main__read-more__text {
    min-width: 505px;
    margin-right: 36px;
  }

  .main__read-more p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
    position: relative;
    z-index: -1;
  }

  .hiddens {
    display: inherit;
  }

  .hidden {
    display: initial;
  }

  .hidden._active {
    display: initial;
  }

  .hiddene {
    display: none;
  }

  .hiddene.__active {
    display: inherit;
  }

  .arrows.active {
    transform: rotate(180deg);
  }

  .read-more__arrow {
    display: flex;
    align-items: baseline;
  }

  .wallaper {
    width: 531px;
    height: 307px;
  }

  .main__repair h3 {
    margin: 16px;
  }

  .main__repair h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $containerTextColor;
    font-weight: 200;
  }

  .repair__container {
    display: none;
  }

  .repair__container__768 {
    display: flex;
    flex-direction: column;
  }

  .repair__container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
  }

  .brands__768 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 240px;
    height: 72px;
    padding: 16px;
    border: 1px solid $borderColor;
    background-color: $bgCol;
    border-radius: 6px;
  }

  .brands__768_hidden {
    display: none;
  }

  .brands__768_hidden:last-child {
    opacity: 0;
  }

  .main__technical {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .main__technical h3 {
    margin-left: 16px;
    color: $containerTextColor;
    width: 768px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
  }

  .technical__container {
    display: none;
  }

  .technical__container__768 {
    display: flex;
    flex-direction: column;
  }

  .techniacal__container-wrapper {
    display: flex;
    padding: 16px;
  }

  .technical__info__768 {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 240px;
    height: 160px;
    padding: 16px;
    border: 1px solid $borderColor;
    background-color: $bgCol;
  }

  .technical__info__768:last-child {
    display: none;
  }

  .technical__info__768_hidden {
    display: none;
  }

  .main__price {
    display: flex;
    flex-direction: column;
    min-width: 1120px;
    margin-bottom: 24px;
  }

  .main__price h3 {
    margin-left: 16px;
    color: $containerTextColor;
    min-width: 320px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 200;
  }

  .price__container {
    display: none;
  }

  .price__container__768 {
    display: grid;
    min-width: 1120px;
  }

  .price__container-wrapper {
    display: grid;
    padding: 16px;
  }

  .price__items {
    display: inline-grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.25fr;
    justify-content: space-between;
    background-color: $bgCol;
    min-width: 1056px;
    height: 64px;
    align-items: center;
    color: $text;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
  }

  .price__items p {
    color: $text;
  }

  .price__items:first-child {
    height: 40px;
    background-color: $bgColor;
    align-items: center;
    border: none;
  }

  .price__items:first-child p {
    color: $containerTextColor;
  }

  .commercial {
    margin-left: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 57px;
    margin-top: 16px;
    min-width: 330px;
  }

  .footer {
    min-width: 1120px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // text-align: center;
    color: $containerTextColor;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    opacity: 72%;
    height: 40px;
  }

  .footer > p:first-child {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 32px;
  }

  .footer > p:last-child {
    text-align: right;
    padding-left: 16px;
    width: 340px;
    height: 48px;
  }

  .footer > p:nth-child(2) {
    padding: 0 40px 0 35px;
  }
}
